---
layout: default
title: home
projects:
- {link: sams-club-digital, title: Sam's Club Digital}
- {link: sams-club-print, title: Sam's Club Print}
- {link: sams-club-style-guide, title: Sam's Club Style Guides}
- {link: the-town-fc, title: The Town FC}
- {link: sports-social-media-ads, title: Sports Social Media Ads}
- {link: pivot-agency, title: PIVOT Agency}
- {link: sf-deltas, title: San Francisco Deltas}
- {link: house-of-warship, title: House of Warship}
tools:
- photoshop
- premiere
- after-effects
- illustrator
---

    <div class="">
        <!--                   Portfolio start                    -->
        <section id="portfolio">
            <div class="container">
                <h2>PORTFOLIO</h2>

                <hr>

                <h3>I work with digital, video, and print.</h3>

                <div class="row hover-effect">
                    {% for project in page.projects %}
                    <div class="col-md-6 col-xs-12 grid">
                        <figure class="effect-sarah">
                            <img src="/images/home/overlay-{{ project.link }}.jpg" alt="{{ project.link }}" />
                            <figcaption>
                                <div>
                                    <h2>{{ project.title }}</h2>
                                    <p>Take a look.</p>
                                </div>
                                <a href="/portfolio/{{ project.link }}.html"></a>
                            </figcaption>
                        </figure>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--                   Portfolio end                  -->


        <!--                   About start                   -->
        <section id="about">
            <div class="container">
                <h2>ABOUT</h2>

                <hr>

                <h3>
                    Hi, I'm Tim.
                    <br><br>
                    I'm a California-born, cat-loving, designer with 8+ years of experience.
                    <br><br>
                    I'm proficient with Adobe's suite of tools.
                </h3>

                <div class="row">
                    {% for tool in page.tools %}
                    <div class="col-md-3 col-xs-6">
                        <img src="/images/home/{{ tool }}.png" alt="{{ tool }}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--                   About end                 -->
    </div>
