---
layout: default
title: home
projects:
- {link: social-media-deltas, title: Social Media}
- {link: video-ads-deltas, title: Video Ads}
- {link: ooh-ads-deltas, title: OOH Ads}
- {link: ooh-ads-shell, title: OOH Ads}
- {link: package-design-post, title: Package Design}
- {link: merchandise-deltas, title: Merchandise}
- {link: branding-roots, title: Branding}
- {link: personal, title: Personal}
tools:
- photoshop
- premiere
- after-effects
- illustrator
---

    <div class="">
        <!--                   Portfolio start                    -->
        <section id="portfolio">
            <div class="container">
                <h2>PORTFOLIO</h2>

                <hr>

                <h3>I work with digital, video, and print.</h3>

                <div class="row hover-effect">
                    {% for project in page.projects %}
                    <div class="col-lg-3 col-sm-6 grid">
                        <figure class="effect-sarah">
                            <img src="/images/home/overlay-{{ project.link }}.jpg" alt="{{ project.link }}" />
                            <figcaption>
                                <div>
                                    <h2>{{ project.title }}</h2>
                                    <p>Take a look.</p>
                                </div>
                                <a href="/portfolio/{{ project.link }}.html"></a>
                            </figcaption>
                        </figure>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--                   Portfolio end                  -->


        <!--                   Toolkit start                   -->
        <section id="toolkit">
            <div class="container">
                <h2>TOOLKIT</h2>

                <hr>

                <h3>I'm proficient with Adobe's suite of tools.</h3>

                <div class="row">
                    {% for tool in page.tools %}
                    <div class="col-md-3 col-sm-6">
                        <img src="/images/home/{{ tool }}.png" alt="{{ tool }}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--                   Toolkit end                 -->
    </div>
