<footer id="contact">
    <ul>
        <li class=" animated" data-animate="slideInUp">
	    <a href="https://www.facebook.com/tim.weisinger" target="_blank"><i class="fa fa-2x fa-facebook"></i></a>
        </li>
        <li class=" animated" data-animate="slideInUp">
            <a href="https://www.linkedin.com/in/timweisinger" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a>
        </li>
    </ul>
    <h4 class="animated" data-animate="slideInUp">&copy; 2017 Tim Weisinger</h4>
</footer>

